body {
  margin: 0px;
}
.box1 {
  width: 400px;
  height: 200px;
  background-color: red;
  /* padding으로 수평처리 가능함 !위아래, 같은 간격으로 만들어줌 */
  padding-left: 50px;
  padding-top: 50px;
  box-sizing: border-box;
  /* margin-left: 50px; */
}
.box1_child {
  /* 태그안의 태그는 padding으로 줄인다 !
    margin사용시 뒤틀리게됨.
    box-sizing:boderbox는 태그의 크기를 더이상 늘리지않고 고정시킴
    */
  width: 300px;
  height: 100px;
  background-color: blue;
  /* margin-left: 50px;
  margin-top: 50px; */
}
.box2 {
  border: 1px solid red;
  width: 300px;
  font-size: 30px;
  text-align: center;
  padding: 20px 0;
}
