.post {
  margin-top: 20px;
  width: 1700px;
  position: relative;
  left: 100px;
  border: 1px solid white;
  border-radius: 20px;
}
.txt1 {
  font-size: 40px;
  font-weight: 1000;
  position: absolute;
  bottom: 70px;
  left: 45%;
}
.txt2 {
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  bottom: 30px;
  left: 40%;
}
