.poster {
  padding: 0 20px;
  row-gap: 10px;
}
.poster ul {
  padding: 5px;
  display: flex;
  column-gap: 10px;
  flex-wrap: row wrap;
}
.poster li {
  border: 1px solid;
  border-radius: 10px;
  width: 180px;
  height: 320px;
  overflow: hidden;
  position: relative;
}
.poster img {
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.poster li p {
  position: absolute;
  bottom: 0;
  left: 50%;
  font-weight: 700;
  text-align: center;
  transform: translateX(-50%);
}

.poster li :hover {
  transform: scale(1.1);
  transition: all 1s;
}
