/* link태그에서 가져올 경로 */
body {
  margin: 0;
}
.header {
  width: 1000px;
  height: 100px;
  border: 1px solid black;
  margin-bottom: 30px;
}
.wrap {
  width: 1000px;
  height: 600px;
  border: 1px solid red;
}
.left {
  box-sizing: border-box;
  /* 사이즈에 보더값을 포함시키게 만듦 */
  width: 494px;
  height: 400px;
  border: 1px solid blue;
  display: inline-block;
  /* display: inline-block;
  인라인과 블럭둘의 속성을가지게
  만듦 */
}
.right {
  width: 494px;
  height: 400px;
  border: 1px solid green;
  display: inline-block;
}
.left_box {
  height: 200px;
  background-color: rebeccapurple;
}
.right_box {
  height: 200px;
  background: yellow;
}
