/* reset-css를 복붙하는 방법도 있다 */
* {
  margin: 0;
  padding: 0;
}

header {
  height: 60px;
}

header,
.wrap,
ul {
  display: flex;
  background-color: navy;
  list-style-type: none;
  align-items: center;
  column-gap: 30px;
  padding: 5px;
}

ul {
  display: flex;
}
header button {
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 15px;
}
header > .wrap {
  justify-content: space-between;
  width: 100%;
}
header img {
  width: 20px;
  height: 20px;
}
button :active {
  background-color: magenta;
}
