/* body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
header {
}
.nav {
  list-style-type: none;
  display: flex;
  justify-content: right;
  column-gap: 10px;
}
button > img {
  width: 20px;
  height: 20px;
}
.flask {
  padding: 5px;
  border-style: none;
  column-gap: ;
  padding: 5px 10px;
}
#user {
  padding: 5 10px;
  border-radius: 100%;
}
.flask :hover {
  cursor: pointer;
} */
/* ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
ul button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 50px;
}
ul button img {
  width: 20px;
  height: 20px;
}
ul button:hover {
  text-decoration: underline;
}
button.icon {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  transition: all 0.7s;
}

button.icon:hover {
  background-color: lightgray;
}
button.user {
  width: 50px;
  height: 50px;
  border-radius: 50px;

  cursor: pointer;
}
button.user:hover {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  transition: all 0.7s;

  text-decoration: none;
}
button.user div {
  border: 1px solid;
  border-radius: 50px;
  width: 75%;
  height: 75%;
  display: flex;
  justify-content: ;
  align-content: center;
} */
ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  border: 1px solid;
  align-items: center;
}
ul button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
ul button:hover {
  text-decoration: underline;
}
ul button img {
  width: 20px;
  height: 20px;
}
button.icon {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  transition: all 0.5s;
}
button.icon:hover {
  background-color: whitesmoke;
}
ul button {
  height: 50px;
}
button.user {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  color: white;
  font-weight: 900;
  font-size: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
button.user:hover {
  text-decoration: none;
}
button.user div {
  border: 1px solid;
  border-radius: 50px;
  width: 75%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
}
button.user:hover {
  background-color: whitesmoke;
}
